**/node_modules
**/node_modules_cache
**/build
**/out-tsc
**/dist
**/liferay-npm-bundler-report.html
yarn.lock
.yarnrc
package-lock.json
gradle-local.properties
.idea
.gradle
**/*.css
**/*.map
**/liferay-theme.json
