.autofit-col {
	padding-left: 0 !important;
}

.autofit-row {
	display: ruby;
}

.lexicon-icon-order-arrow {
	color: #6e6868;
}

.table-cell-items {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}

.text-ellipsis-lg {
	max-width: 170px;
}

.text-ellipsis-md {
	max-width: 140px;
}

.text-ellipsis-sm {
	max-width: 110px;
}

.table-layout-auto {
	table-layout: auto !important;
}

@media (min-width: 140px) {
	.table-cell-item {
		width: 100%;
	}
}
