div:has(> table.custom-table) {
	max-height: 500px;
	overflow-x: scroll;
}

div:has(> table.custom-table)::-webkit-scrollbar {
	height: 15px;
	width: 15px;
}

div:has(> table.custom-table)::-webkit-scrollbar-track {
	background: #f7f7f8;
}

div:has(> table.custom-table)::-webkit-scrollbar-thumb {
	background: #c9c9cf;
	border: 3px solid #f7f7f8;
	border-radius: 10px;
}

div:has(> table.custom-table)::-webkit-scrollbar-thumb:hover {
	background: #a9a9af;
}

table.custom-table th {
	background: white;
	position: sticky !important;
	top: 0;
	z-index: 1;
}
